<a href="https://colab.research.google.com/github/HebaSedik/python/blob/master/class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class car :
    length = 15
    width = 8
    height = 6
    color = 'white'
    volume = length * width * height
print(car.color)
print(car.volume)
volvo = car
print(volvo.height)

white
720
6

In [3]:
class car() :
    color = 'blue'
volvo = car
nissan = car
volvo.color = 'white'
nissan.color = 'green'
print(volvo.color)
print(nissan.color)

green
green

In [5]:
class car() :
    def __init__(self, color):
        self.color = color
volvo = car('white')
nissan = car('green')
print(volvo.color)
print(nissan.color)

white
green

In [6]:
class calc :
    def __init__(self,p2,p3) :
        self.power2 = p2**2
        self.power3 = p3**3
a = calc(5,3)
print(a.power2)
print(a.power3)

25
27

In [7]:
class d :
    def __init__(self,p2 = 5 ,p3 = 3) :
        self.power2 = p2**2
        self.power3 = p3**3
a = d()
print(a.power2)
print(a.power3)

25
27

In [8]:
class d :
    def __init__(self,p2 = 10 ,p3 = 100) :
        self.power2 = p2**2
        self.power3 = p3**3
a = d(p2=5,p3=3)
print(a.power2)
print(a.power3)

25
27

In [9]:
class d :
    def __init__(self,nn,p2 = 10 ,p3 = 100):
        self.power2 = p2**2
        self.power3 = p3**3
        self.roots = nn
    def root(self ) :
        print (self.roots**0.5)
a = d(2500)
a.root()

50.0

In [10]:
class Account:
    def __init__(self, name, account_number, initial_amount):
        self.name = name
        self.no = account_number
        self.balance = initial_amount
    def deposit(self, amount):
        self.balance += amount
    def withdraw(self, amount):
        self.balance -= amount
    def show(self):
        s = '%s, %s, balance: %s' % (self.name, self.no, self.balance)
        print (s)
a1 = Account('John Olsson', '19371554951', 20000)
a2 = Account('Liz Olsson', '19371564761', 50000)
print("a1 balance :  " , a1.balance )
print("a2 no      :  " ,   a2.no)
a1.deposit(1000)
a1.withdraw(4000)
a2.withdraw(10500)
a1.withdraw(3500)
print ("a1's balance:", a1.balance)
print ("a2's balance:", a2.balance)
a1.show()
a2.show()

a1 balance :   20000
a2 no      :   19371564761
a1's balance: 13500
a2's balance: 39500
John Olsson, 19371554951, balance: 13500
Liz Olsson, 19371564761, balance: 39500

In [11]:
class Person:
    def __init__(self, name,mobile_phone=None, office_phone=None,private_phone=None, email=None):
        self.name = name
        self.mobile = mobile_phone
        self.office = office_phone
        self.private = private_phone
        self.email = email
    def add_mobile_phone(self, number):
        self.mobile = number
    def add_office_phone(self, number):
        self.office = number
    def add_private_phone(self, number):
        self.private = number
    def add_email(self, address):
        self.email = address
    def dump(self):
        s = self.name + '\n'
        if self.mobile is not None:
            s += 'mobile phone: %s\n' % self.mobile
        if self.office is not None:
            s += 'office phone: %s\n' % self.office
        if self.private is not None:
            s += 'private phone: %s\n' % self.private
        if self.email is not None:
            s += 'email address: %s\n' % self.email
        print (s)
p1 = Person('Hans Hanson',office_phone='767828283', email='h@hanshanson.com')
p2 = Person('Ole Olsen', office_phone='767828292')
p2.add_email('olsen@somemail.net')
phone_book = [p1, p2]
for person in phone_book:
    person.dump()

Hans Hanson
office phone: 767828283
email address: h@hanshanson.com

Ole Olsen
office phone: 767828292
email address: olsen@somemail.net