<a href="https://colab.research.google.com/github/HebaSedik/python/blob/master/function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def powers(m, n) :
    print (m**(n))
powers(3,2)

9

In [ ]:
def powers(m, n = 4 ) :
    print (m**(n))
powers(3)

81

In [ ]:
def powers(m,n) :
    print (m**(n))
powers(3,4)

81

In [ ]:
def power(y,c):
    x = y**c
    return x
print(power(2,3))

8

In [ ]:
def power(y,c) :
    x = y**c
    return x
def times4(xx) :
    z = 4*xx
    return z
def add7(zz) :
    w = zz+7
    return w
one = int(input('first : '))
second= int(input('second : '))
print (add7(times4(power(one,second))))

first : 2
second : 3
39

In [ ]:
x = 5
def g() :
    x = 14
g()
print (x)

5

In [ ]:
x= 5
def g():
    global x
    x = 14
g()
print(x)

14

In [ ]:
powers = lambda x,y : x**y
print (powers(2,3))

8

In [ ]:
powers = [lambda x: 1,lambda x: x,lambda x: x**2,lambda x: x**3]
print(powers[0](5))
print(powers[1](5))
print(powers[2](5))
print(powers[3](5))

1
5
25
125

In [ ]:
mylist = [0,1,2,3,4,5,6,7,8,9]
evennumber = list(filter(lambda x: x % 2 == 0 , mylist   ))
oddnumber = list(filter(lambda x: x % 2 == 1 , mylist   ))
print (evennumber)
print (oddnumber)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
mylist = (0,1,2,3,4,5,6,7,8,9)
print ("square list" , list(map(lambda x: x**2 , mylist)))

square list [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list1 = (1,2,3,4,5,6)
def cpower (x):
    return x**3
print (list(map(lambda x :cpower(x)  , list1)))

[1, 8, 27, 64, 125, 216]

In [16]:
def fac(n):
    if n ==1 :
        return 1
    else :
        return n * fac(n-1)
print(fac(5))

120

In [17]:
def fibon(n):
    a = b = 1
    result =[]
    for i in range(n):
        result.append (a)
        a , b = b , a+b
    return result
print (fibon(15))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [18]:
def fibon(n):
    a = b = 1
    for i in range(n):
        yield  a
        a , b = b , a+b
for x in fibon(15):
    print (x)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610