<a href="https://colab.research.google.com/github/HebaSedik/python/blob/master/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
def stars() :
    for i in range(5) :
        print ('**')
stars()

**
**
**
**
**

In [19]:
def add(a,b):
  return a+b
print("add is",add(5,6))
def sub(a,b):
  return a-b
print("sub is",sub(10,5))

add is 11
sub is 5

In [20]:
def great(name, message):
  print(f"{message}, {name}!")
great("heba", "hello")

hello, heba!

In [21]:
sum = lambda x,y: x+y
print(sum(6,7))

13

In [22]:
list1 = [1,2,3,4,5]
seqr =map(lambda x:x**2, list1)
print(list(seqr))

[1, 4, 9, 16, 25]

recursion

In [23]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n* factorial(n-1)
factorial(5)

120

nested function

In [24]:
def outer(x):
  def inner(y):
    return x+y
  return inner
result= outer(5)(3)
print(result)

8

In [25]:
def outer():
  x=0
  def inner():
    nonlocal x
    x+=1
    return x
  return inner
count =outer()
print(count())
print(count())
print(count())
print(count())

1
2
3
4

In [26]:
def multiply(n):
  def multiplier(x):
    return x*n
  return multiplier
double=multiply(2)
triple = multiply(3)
print(double(5))
print(triple(5))

10
15

find average

In [27]:
def find_avg(a,b):
  average = (a+b)/2
  print("average is ", average)
find_avg(3,4)

average is  3.5

In [28]:
def find_avg(*num):
  sum=0
  for i in num:
    sum+=i
  avg=sum/(len(num))
  print("average = ", avg)
  print(num)
find_avg(3,4)
find_avg(3,4,5)
find_avg(3,4,5,6,7)

average =  3.5
(3, 4)
average =  4.0
(3, 4, 5)
average =  5.0
(3, 4, 5, 6, 7)

In [29]:
def avg_of_two(a,b):
  print ((a+b)/2)
def avg_of_three(a,b,c):
  print ((a+b+c)/3)
v1 = (7,5)
avg_of_two(*v1)
v2 = (3,6,7)
avg_of_three(*v2)

6.0
5.333333333333333