<a href="https://colab.research.google.com/github/HebaSedik/python/blob/master/function1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def stars() :
    for i in range(5) :
        print ('**')
stars()

**
**
**
**
**

In [ ]:
def add(a,b):
  return a+b
print("add is",add(5,6))
def sub(a,b):
  return a-b
print("sub is",sub(10,5))

add is 11
sub is 5

In [ ]:
def great(name, message):
  print(f"{message}, {name}!")
great("heba", "hello")

hello, heba!

In [ ]:
sum = lambda x,y: x+y
print(sum(6,7))

13

In [ ]:
list1 = [1,2,3,4,5]
seqr =map(lambda x:x**2, list1)
print(list(seqr))

[1, 4, 9, 16, 25]

recursion

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n* factorial(n-1)
factorial(5)

120

nested function

In [ ]:
def outer(x):
  def inner(y):
    return x+y
  return inner
result= outer(5)(3)
print(result)

8

In [ ]:
def outer():
  x=0
  def inner():
    nonlocal x
    x+=1
    return x
  return inner
count =outer()
print(count())
print(count())
print(count())
print(count())

1
2
3
4

In [ ]:
def multiply(n):
  def multiplier(x):
    return x*n
  return multiplier
double=multiply(2)
triple = multiply(3)
print(double(5))
print(triple(5))

10
15

In [ ]:
def print_values(**values):
  print (values)
print_values(one = 1, two = 2, num =100)

{'one': 1, 'two': 2, 'num': 100}

In [ ]:
def print_values(**values):
  for key, value in values.items():
    print("{} = {}".format(key,value))
print_values(one = 1,two = 2,three = 3,four = 4,five = 5)

one = 1
two = 2
three = 3
four = 4
five = 5

In [ ]:
def greet(**kwargs):
    if kwargs is not None:
        for key, value in kwargs.items():
            print ("%s == %s" %(key,value))
greet(name="Python")

name == Python

In [ ]:
def avg_of_two(a,b):
  print ((a+b)/2)
def avg_of_three(a,b,c):
  print ((a+b+c)/3)
var1 = {'a':1,'b':2}
avg_of_two(**var1)
var2 = {'a':1,'b':2,'c':3}
avg_of_three(**var2)

1.5
2.0

In [ ]:
def show_details(a,b,*args,**kwargs):
  print("a is ",a)
  print("b is ",b)
  print("args is ",args)
  print("kwargs is ",kwargs)
show_details(1,2,3,4,5,6,7,8,9)
print("-----------")
show_details(1,2,3,4,5,6,c= 7,d = 8,e = 9)

a is  1
b is  2
args is  (3, 4, 5, 6, 7, 8, 9)
kwargs is  {}
-----------
a is  1
b is  2
args is  (3, 4, 5, 6)
kwargs is  {'c': 7, 'd': 8, 'e': 9}

In [ ]:
def test_args_kwargs(arg1, arg2, arg3):
    print ("arg1:", arg1)
    print ("arg2:", arg2)
    print ("arg3:", arg3)
#*args
args = ("two", 3,5)
test_args_kwargs(*args)

# **kwargs:
kwargs = {"arg3": 3, "arg2": "two","arg1":5}
test_args_kwargs(**kwargs)

arg1: two
arg2: 3
arg3: 5
arg1: 5
arg2: two
arg3: 3

In [ ]:
def find_avg(a,b):
  average = (a+b)/2
  print("average is ", average)
find_avg(3,4)

average is  3.5

In [ ]:
def find_avg(*num):
  sum=0
  for i in num:
    sum+=i
  avg=sum/(len(num))
  print("average = ", avg)
  print(num)
find_avg(3,4)
find_avg(3,4,5)
find_avg(3,4,5,6,7)

average =  3.5
(3, 4)
average =  4.0
(3, 4, 5)
average =  5.0
(3, 4, 5, 6, 7)

In [ ]:
def avg_of_two(a,b):
  print ((a+b)/2)
def avg_of_three(a,b,c):
  print ((a+b+c)/3)
v1 = (7,5)
avg_of_two(*v1)
v2 = (3,6,7)
avg_of_three(*v2)

6.0
5.333333333333333