<a href="https://colab.research.google.com/github/HebaSedik/python/blob/master/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
s=[1,2,3,4,5]
print(s)

[1, 2, 3, 4, 5]

In [9]:
s=['heba',2,3,2.6,2+4j]
print(s)
print(s[3])
print(s[2:4])

['heba', 2, 3, 2.6, (2+4j)]
2.6
[3, 2.6]

In [7]:
s=[1,2,[3,4,5]]
print(s)

[1, 2, [3, 4, 5]]

In [4]:
x= list("heba")
print(x)

['h', 'e', 'b', 'a']

In [12]:
a = ['a', 'b', 'c']
b = [1, 2, 3]
x = [a, b]
print(x)
print(x[1][2])

[['a', 'b', 'c'], [1, 2, 3]]
3

In [23]:
x=[1,2,3,4,5,6,7,8]
print("x=",x)
print(x*2)
print("len of x =",len(x))
print("sum = ", sum(x))
print("max is ", max(x))
print("min is", min(x))

x= [1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
len of x = 8
sum =  36
max is  8
min is 1

In [32]:
x=[6,8,9,4,2,3,5,7,1,0,6,8]
print(sorted(x))
print(sorted(x, reverse=True))
print(4 in x)
y = ['a','c','b']
x.extend(y)
print(x)
x.count(6)

[0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 8, 9]
[9, 8, 8, 7, 6, 6, 5, 4, 3, 2, 1, 0]
True
[6, 8, 9, 4, 2, 3, 5, 7, 1, 0, 6, 8, 'a', 'c', 'b']

2

In [35]:
a=list(range(15))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [37]:
N = list(range(2,20,3))
print(N)

[2, 5, 8, 11, 14, 17]

In [40]:
y = [ x**3 for x in range(12)]
print(y)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [42]:
I = iter([2, 4, 6, 8, 10])
print(next(I))
print(next(I))
print(next(I))

2
4
6

In [44]:
I = iter(range(20))

In [45]:
list = ['apple', 'banana', 'grapes', 'pear']
for x, value in enumerate(list, 1):
    print(x, value)

1 apple
2 banana
3 grapes
4 pear

In [46]:
list1 = ['a1', 'a2', 'a3']
list2 = ['b1', 'b2', 'b3']
for a, b in zip(list1, list2):
    print (a, b)

a1 b1
a2 b2
a3 b3

In [48]:
from operator import itemgetter
student_tuples = [('heba', 'A', 15),('jane', 'B', 12),('dave', 'B', 10),]
print(student_tuples)

[('heba', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]